@model List<TodoListMVC.ViewModels.TodoListVM>

@{
    ViewBag.Title = "ShowAllTodo";
}


@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@ViewBag.Message</strong>
    </div>

}


<div class="page-header center-text">
    <h3>@Session["AuthenticUser"].ToString()'s Todo List</h3>

</div>

<div class="add-btn">
    <button class="btn btn-success" style="margin-top:10px; margin-bottom:10px;">
        @Html.ActionLink("Add", "AddTodo","Home",new {@class ="link-btn" })
    </button>
    
</div>
<table class="table">
    <tr>
        <th> Id</th>

        <th> Name</th>
        <th>

        Show | Delete
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(listItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(listItem => item.Name)
            </td>
            <td>
                
                <button class="btn btn-primary" style="margin-top:10px; margin-bottom:10px;">

                    <a href="@Url.Action("ShowSubTodo", "Home",new { id=item.Id })">
                        <span class="glyphicon glyphicon-eye-open link-btn" aria-hidden="true">
                        </span>
                    </a>
                </button>

                <button class="btn btn-danger" style="margin-top:10px; margin-bottom:10px;">

                    <a href="@Url.Action("DeleteTodo", "Home",new { todoId=item.Id })">
                        <span class="glyphicon glyphicon-trash link-btn" aria-hidden="true">
                        </span>
                    </a>
                </button>


            </td>
           

        </tr>
    }
</table>

