@model List<ContactAddressMVCApp.ViewModels.ViewContactsVM>

@{
    ViewBag.Title = "ViewContacts";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@ViewBag.Message</strong>
    </div>

}

<div class="page-header center-text">
    <h3>List of contacts</h3>

</div>

<table class="table">
    <tr>
        <th> Id</th>

        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(listItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(listItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(listItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(listItem => item.PhoneNo)
            </td>


            <td>
                @Html.ActionLink("Show All Address", "ShowAddresses", new { id = item.Id })  |
                @Html.ActionLink("Delete Contact", "DeleteContact", new { id = item.Id })
            </td>

        </tr>
    }
</table>



